.burger {
  width: 24px;
  height: 24px;
  padding: 2px 0 4px 0;
  position: relative;
}

.burger:not(.burger--active) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0#000000, 0 16px 0 0#000000;
  }
}

.burger--active {
  &::before {
    content: "";
    width: 2px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 12px;
    background-color: #000000;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    width: 2px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 11px;
    background-color: #000000;
    transform: rotate(-45deg);
  }
}

.burger:hover {
  &::before,
  &::after {
    opacity: 0.3;
  }
}

.burger:active {
  &::before,
  &::after {
    opacity: 0.1;
  }
}

.burger:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
