.header {
  min-width: 320px;

  @media (min-width: @tablet-width) {
    padding: 39px 30px 0 30px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 74px 110px 0 110px;
  }
}

.header__logo {
  width: 190px;
  margin-left: 20px;
  gap: 56px;

  @media (min-width: @tablet-width) {
    align-items: flex-end;
    margin-left: 0;
    gap: 13px;
  }
}
