.header {
  min-width: 320px;
  padding: 13px 0 14px 0;

  @media (min-width: @tablet-width) {
    padding: 25px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 0 0 0;
  }
}

.header__logo {
  width: 190px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    align-items: flex-end;
    margin-left: 0;
  }
}
