.example {
  background-color: #eaeaea;
  position: relative;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to top, #eaeaea 462px, #ffffff 462px, #ffffff 100%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, #ffffff 140px, #f2f2f2 140px, #f2f2f2 100%);
  }
}

.example__wrapper {
  padding: 25px 0 40px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 45px 0 101px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 784px 75px 0;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
  text-align: left;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 149px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.example__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 34px;

  @media (min-width: @tablet-width) {
    justify-content: normal;
    align-items: center;
    gap: 43px;
    margin-bottom: 104px;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
    margin-bottom: 0;
    gap: 42px;
    row-gap: 60px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  padding: 13px 20px 9px;
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  height: max-content;

  @media (min-width: @tablet-width) {
    width: 162px;
    padding: 13px 20px 12px;
  }
}

.example__property {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  z-index: 1;
  background-color: #eaeaea;
  padding: 0 5px;
  bottom: -24px;
  left: 0;
  margin-top: -24px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    bottom: -18px;
    margin-top: -14px;
    left: 0;
    background-color: #ffffff;

    &--cost {
      left: -10px;
      width: 140px;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__value {
  color: #000000;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__cost {
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  max-width: 200px;

  @media (min-width: @tablet-width) {
    margin: -28px 2px 0 auto;
    font-size: 20px;
    line-height: 20px;

    &--price {
      position: absolute;
      right: -1px;
      bottom: -28px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 0 0;
    font-size: 20px;
    line-height: 20px;
    white-space: nowrap;

    &--price {
      position: static;
      margin-left: 62px;
    }
  }
}

.example__slider {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 0;
    top: 4px;
  }
}
