.features__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 79px 47px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 0;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 42px;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 138px;
    row-gap: 37px;
    counter-set: counter;
  }

  @media (min-width: @desktop-width) {
    column-gap: 78px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__item {
  font-family: "Lato", "Arial", sans-serif;
  padding: 0 0 6px 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: @tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 151px 0 57px 0;
    font-size: 16px;
    line-height: 24px;

    &::after {
      counter-increment: counter;
      content: counter(counter);
      position: absolute;
      top: 0;
      right: 18px;
      color: #f2f2f2;
      text-align: center;
      font-size: 280px;
      line-height: 280px;
      z-index: -1;
      width: 112px;
      height: 280px;
      font-family: "Oswald", "Arial", sans-serif;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: 21px;
    }
  }
}

.features__item--leaf::before {
  background-image: url("../img/stack.svg#leaf-icon");
  background-size: 30px 32px;
}

.features__item--powder::before {
  background-image: url("../img/stack.svg#powder-icon");
  background-size: 26px 29px;
}

.features__item--eat::before {
  background-image: url("../img/stack.svg#eat-icon");
  background-size: 25px 30px;
}

.features__item--clock::before {
  background-image: url("../img/stack.svg#clock-icon");
  background-size: 26px 31px;
}
