.weight {
  @media (min-width: @desktop-width) {
    width: 47%;
  }
}

.weight__wrapper {
  position: relative;
  background-color: #f2f2f2;
  padding: 30px 32px 18px 20px;

  @media (min-width: @tablet-width) {
    padding: 77px 394px 53px 52px;
    min-height: 374px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 61px 55px 52px;
    width: 100%;
  }
}

.weight__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;

  &--gain {
    padding-left: 78px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }

  &--loss::before {
    width: 50px;
    height: 53px;
    background-image: url("../img/cat-slim.svg");
  }

  &--gain::before {
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-gain.svg");
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    padding-left: 0;

    &--loss::before {
      top: 0;
      right: -328px;
      left: auto;
      width: 200px;
      height: 211px;
      background-image: url("../img/cat-slim-tablet.svg");
      float: right;
    }

    &--gain::before {
      top: 0;
      right: -286px;
      left: auto;
      width: 268px;
      height: 200px;
      background-image: url("../img/cat-gain-tablet.svg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;

    &--loss::before {
      top: -50px;
      left: 0;
      width: 100px;
      height: 106px;
      background-image: url("../img/cat-slim-desktop.svg");
    }

    &--gain::before {
      top: -50px;
      left: 0;
      width: 134px;
      height: 100px;
      background-image: url("../img/cat-gain-desktop.svg");
    }
  }
}

.weight__description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    padding-bottom: 0;
    border-bottom: none;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.weight__link {
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  padding-right: 56px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    width: 32px;
    height: 10px;
    background-image: url("../img/weight-arrow.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}
