.weight {
  @media (min-width: @desktop-width) {
    width: 47%;
  }
}

.weight__wrapper {
  position: relative;
  background-color: #f2f2f2;
  padding: 30px 20px 21px 20px;

  @media (min-width: @tablet-width) {
    padding: 77px 334px 53px 52px;
    min-height: 374px;

    &--gain {
      padding: 75px 319px 21px 52px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 77px 61px 55px 52px;
    width: 100%;

    &--gain {
      padding: 77px 61px 55px 55px;
    }
  }
}

.weight__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;

  &--gain {
    padding-left: 78px;
    margin-left: -6px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    background-repeat: no-repeat;
  }

  &--loss::before {
    width: 50px;
    height: 53px;
    background-image: url("../img/stack.svg#cat-slim");
  }

  &--gain::before {
    width: 67px;
    height: 50px;
    top: -6px;
    left: -2px;
    background-image: url("../img/stack.svg#cat-gain-tablet");
    background-size: 100% auto;
    transform: scale(1);
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
    margin-left: 1px;
    padding-left: 0;

    &--loss::before {
      top: 4px;
      right: -271px;
      left: auto;
      width: 200px;
      height: 211px;
      background-image: url("../img/stack.svg#cat-slim-tablet");
      float: right;
    }

    &--gain::before {
      top: 14px;
      right: -290px;
      left: auto;
      width: 268px;
      height: 200px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;

    &--loss::before {
      top: -36px;
      left: 0;
      width: 100px;
      height: 106px;
      background-image: url("../img/stack.svg#cat-slim-desktop");
    }

    &--gain::before {
      top: -30px;
      left: -17px;
      width: 134px;
      height: 100px;
      background-image: url("../img/stack.svg#cat-gain-desktop");
    }
  }
}

.weight__description {
  margin: 0;
  margin-bottom: 18px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Lato", "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
    padding-bottom: 0;
    border-bottom: none;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.weight__link {
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  padding-right: 56px;

  &::after {
    content: "";
    position: relative;
    top: -1px;
    right: -13px;
    display: inline-block;
    width: 32px;
    transform: scale(1.2);
    height: 10px;
    background-image: url("../img/stack.svg#weight-arrow");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      background-image: url("../img/stack.svg#weight-arrow-hover");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: normal;

    &::after {
      top: -4px;
      right: -23px;
    }
  }
}
