.program-form__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
  gap: 14px;
}

.program-form__fieldset--program-type {
  padding: 22px 0 19px 0;
  margin: 0 0 26px 0;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    height: 1px;
    width: calc(100% + 40px);
    background-color: #d9d9d9;
  }

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    height: 1px;
    width: calc(100% + 40px);
    background-color: #d9d9d9;
  }

  @media (min-width: @tablet-width) {
    padding: 23px 27px 27px 27px;
    margin: 0 0 65px 0;
    border: 1px solid #d9d9d9;

    &::before,
    &::after {
      content: "";
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 80px;
    min-width: 570px;
  }
}

.program-form__fieldset--pet-info {
  margin: 0 0 24px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 72px 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.program-form__fieldset--contacts {
  margin: 0 0 24px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.program-form__fieldset--comment {
  margin: 0 0 23px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 65px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

.program-form__fieldset--additional {
  margin: 0 0 34px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 54px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    margin: 0 0 0 0;
  }
}

.program-form__fieldset--contacts,
.program-form__fieldset--comment,
.program-form__fieldset--additional {
  &::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    height: 2px;
    width: 100%;
    top: 14px;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
  }
}

.program-form__label {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
  position: relative;
}

.program-form__label--email {
  grid-column: 1 / 2;
}

.program-form__label--phone {
  grid-column: 2 / 3;
}

.program-form__label-icon {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 20px;
  height: 20px;
  fill: none;
}

.program-form__label--radio {
  gap: 15px;
}

.program-form__input {
  min-height: 45px;
  padding: 0 0 0 15px;
  flex-grow: 1;
  background-repeat: no-repeat;

  &--email {
    min-width: 217px;
    padding-right: 37px;
    background-image: url("../img/email-icon.svg");
    background-position: top 16px right 14px;
  }

  &--phone {
    min-width: 200px;
    padding-right: 37px;
    background-image: url("../img/phone-icon.svg");
    background-position: top 16px right 14px;
  }
}

.program-form__title-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 160px);
    height: 2px;
    background-color: #68b738;
  }
}

.program-form__title {
  margin: 0 0 11px 0;
  padding: 0 20px 0 20px;
  transform: translateX(-20px);
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  width: max-content;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 0 40px 0 40px;
    transform: none;
  }

  @media (min-width: @desktop-width) {
    transform: translateX(-40px);
  }
}

.program-form__title--hidden {
  margin: 0;
  padding: 0;
}

.program-form__title--contacts {
  margin: 0 0 35px 0;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 0 76px 0;

    br {
      display: none;
    }
  }
}

.program-form__title--contacts,
.program-form__title--comment,
.program-form__title--additional {
  position: relative;
}

.program-form__title--comment {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 78px;
  }
}

.program-form__title--additional {
  margin-bottom: 38px;
}

.program-form__request-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    gap: 80px;
    min-width: 100%;
  }
}

.program-form__button {
  min-width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  padding: 14px 44px;
  background-color: #68b738;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 570px;
  }
}

.program-form__note {
  margin: 0;
  color: #000000;
  text-align: center;
  font-family: "Lato", sans-serif;
  line-height: 16px;
  white-space: nowrap;
}

.program-form__textarea {
  min-width: 280px;
  min-height: 150px;
  padding: 14px 15px;
  resize: none;

  @media (min-width: @tablet-width) {
    min-height: 175px;
    min-width: 628px;
    padding: 11px 20px;
  }
}
