.additional-card {
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 17px 0;

  @media (min-width: @tablet-width) {
    border: 1px solid#cdcdcd;
    border-bottom: none;
    padding: 26px 37px 27px 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    padding: 14px 0 17px 0;
  }

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-card__title {
  margin: 0 0 13px 0;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 108px;
    width: 200px;
  }
}

.additional-card__text {
  font-family: "Lato", "Arial", sans-serif;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &--litres {
      transform: translate(-8px, 1px);
    }
  }

  @media (min-width: @desktop-width) {
    &--litres {
      transform: translate(0, 1px);
    }

    &--price-litres {
      transform: translate(-8px, 3px);
    }

    &--price {
      margin-right: 17px;
    }
  }
}

.additional-card__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    gap: 50px;
    transform: translate(-4px, 1px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    gap: 112px;
    width: 302px;
  }
}

.additional-card__button {
  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
