.catalog {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 74px;
  }
}

.catalog__wrapper {
  margin-bottom: 25px;
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
    padding-top: 62px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 72px;
    margin-bottom: 75px;
  }
}

.catalog__main-title {
  margin: 0 0 41px 0;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0 0 165px 0;
    font-size: 60px;
    line-height: 1;
  }
}

.catalog__show-more {
  margin: 0 auto 8px auto;
  display: block;
  width: max-content;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.catalog__text {
  margin: 0 0 21px 0;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 89px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 2px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 144px 80px;
  }
}

.catalog__buttons-wrapper {
  padding: 78px 0 25px 0;
  position: relative;
  background-image: url("../img/stack.svg#plus-icon");
  background-repeat: no-repeat;
  background-position: top 25px left 50%;
  background-size: 30px 30px;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    height: 1px;
    width: calc(100% + 40px);
    background-color: #ebebeb;
  }

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    height: 1px;
    width: calc(100% + 40px);
    background-color: #ebebeb;
  }

  @media (min-width: @tablet-width) {
    padding: 160px 37px 40px 37px;
    border: 1px solid #ebebeb;
    background-size: 58px 60px;
    background-position: top 50px left 50%;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 147px 37px 40px 37px;
  }
}
