.product-link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-link__image {
  object-fit: cover;
  width: 68px;
  height: 86px;
  transform: translateY(2px);

  &--medium {
    height: 78px;
  }

  &--large {
    width: 84px;
    height: 100px;
    transform: translate(1px, 3px);
  }

  @media (min-width: @tablet-width) {
    width: 161px;
    height: 172px;
    transform: translate(-1px, -70px);

    &--medium {
      width: 163px;
      height: 174px;
    }

    &--large {
      width: 168px;
      height: 206px;
    }
  }
}
