.show-more-button {
  padding: 53px 0 0 0;
  width: 204px;
  color: #111111;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 30px;
    transform: translateX(-50%);
    background-color: #d3d3d3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #d3d3d3;
  }

  @media (min-width: @tablet-width) {
    padding-top: 110px;

    &::before {
      width: 2px;
      height: 60px;
    }

    &::after {
      width: 60px;
      height: 2px;
      top: 30px;
    }
  }
}
