.show-everything-link {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #444444;
  padding: 10px 94px;
  display: block;
  width: 100%;
  font-family: inherit;

  @media (min-width: @tablet-width) {
    padding: 10px 79px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 39px;
  }
}
