.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 14px;
  width: 112px;
  margin: 0 auto;
}

.social__link {
  display: inline-block;
  width: 28px;
  height: 22px;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link svg {
  width: 28px;
  height: 22px;
}
