.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 14px;
  width: 112px;
  margin: 0 auto;
}

.social__link {
  padding: 10px;
  width: 28px;
  height: 22px;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
  }

  &:hover {
    &::before {
      background-color: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vk {
  &::before {
    mask-image: url("../img/sprite.svg#vk-icon");
  }
}

.social__link--youtube {
  &::before {
    mask-image: url("../img/sprite.svg#youtube-icon");
  }
}

.social__link--tg {
  &::before {
    mask-image: url("../img/sprite.svg#tg-icon");
  }
}
