.main__hero {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
  }
}

.main__weight {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin: 0;
  }
}

.main__weight--gain {
  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.main__weight-container {
  @media (min-width: @desktop-width) {
    width: calc(100% - 220px);
    max-width: 1220px;
    margin: 0 auto 71px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 73px;
  }
}

.main__features {
  margin: 0 0 47px 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 66px 0;
  }
}
