.page__body {
  position: relative;

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      background-color: rgb(98, 166, 58);
      height: 694px;
      width: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../img/hero-bg-desktop.jpg");
      background-repeat: no-repeat;
      background-position: right 0;
      height: 694px;
      width: 720px;
    }

    @media (min-resolution: 2dppx) {
      &::after {
        background-image: url("../img/hero-bg-desktop@2x.jpg");
        background-size: 100% auto;
      }
    }
  }
}
