.wrapper {
  width: calc(100% - 40px);
  max-width: 1220px;
  margin: 0 auto;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    width: calc(100% - 60px);
  }

  @media (min-width: @desktop-width) {
    width: calc(100% - 220px);
  }
}

.wrapper--pet-info {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.wrapper--contacts {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
